.content_left {
    padding: 0;
}

.sidebar_right {
    position: relative;
    top: -200px;
}

ul.content-list {
    display: none;
}

#fav_table > tr > td * {
    font-size: 3mm;
}

#fav_table > tr > td.date {
    min-width: 20mm;
    text-align: center;
}

#fav_table > tr > td.tags ul {
    list-style: katakana inside;
    padding: 0;
}

#fav_table > tr > td.tags li * {
    border: none;
    margin: 0;
    padding: 0;
}